@model List<Instructor>

<h1>Instructors</h1>

<button type="button" class="btn btn-primary"><a href="/Instructor/AddNew" style="text-decoration:none;color: white">Create New</a></button>
<br />
<br />

<table class="table table-bordered table-hover">
    <tr>        
        <td>Image</td>
        <td>Name</td>
        <td>Address</td>
        <td>Salary</td>
        <td>Department</td>
        <td>Course</td>
        <td>Actions</td>
    </tr>
    @foreach (var item in Model)
    {
                <tr>                  
                    <td><img src="~/images/@item.img" class="card-img-top" alt="..." style="width:150px; hight:150px"></td>
                    <td>@item.name</td>
                    <td>@item.address</td>
                    <td>@item.salary</td>
                    <td>@item.Department.name</td>
                    <td>@item.Course.name</td>
            <td>
                <button type="button" class="btn btn-info me-xl-2"><a href="/Instructor/DEtails/@item.id" style="text-decoration:none;color: white ">Details</a></button>
                <button type="button" class="btn btn-success me-xl-2"><a href="/Instructor/Edit/@item.id" style="text-decoration:none ;color: white">Edit</a></button>
                <button type="button" class="btn btn-danger me-xl-2"><a href="/Instructor/Delete/@item.id" style="text-decoration:none ;color: white">Delete</a></button>
                   
            </td>
    
                </tr>
    }
</table>
